<div class="container ">
    <div class="row ">
        <div class=" col1 col-md-6 red">
       <h1 class="text-center">heding</h1>
       
        <div class="row ">
        <div class="col-md-4 orange col1">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, beatae.</p>
          <p class="text-muted">
            Muted text with a <a href="#" class="text-reset">reset link</a>.
          </p>
        </div>
        <div class="col-md-4 orange col1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, beatae.</p>
        </div>
        <div class="col-md-4 orange col1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, beatae.</p>
        </div>
        </div> 
    </div>


    <div class=" col1 col-md-6 red ">
        <h1 class="fw-normal">heding</h1>
        
         <div class="row">
         <div class="col-md-4 orange col1">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, beatae.</p>
         </div>
         <div class="col-md-4 orange col1">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, beatae.</p>
         </div>
         <div class="col-md-4 orange col1">
            <div class="row">
                <div class="col-md-6">
                    hello
                </div>
            </div>
             
         </div>
         </div> 
     </div>
    </div>

<div class="row   justify-content-end gap-5 d-print-table-cell">
    <div class="col-md-4 orange  ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam necessitatibus sapiente laborum sint, asperiores ipsa natus quidem at inventore a soluta magni repudiandae nesciunt quae id vel cupiditate. Omnis culpa dolore ipsam modi voluptatem nesciunt, tempore consequatur esse quaerat, magni consectetur odio? Culpa dolorum, aut delectus ratione laudantium nostrum mollitia officia nam obcaecati vero. Temporibus incidunt numquam pariatur dolores minus? Incidunt maxime hic maiores dolor recusandae ipsum earum aut autem dolore nam. Quibusdam, beatae? Odio voluptatum, aspernatur eveniet molestias aperiam dignissimos, debitis enim ab laudantium omnis, reiciendis fugiat in odit quas sequi eaque cum quo alias ipsum tempore culpa nisi!</p>
    </div> 

<div class="col-md-4 red  ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam necessitatibus sapiente laborum sint, asperiores ipsa natus quidem at inventore a soluta magni repudiandae nesciunt quae id vel cupiditate. Omnis culpa dolore ipsam modi voluptatem nesciunt, tempore consequatur esse quaerat, magni consectetur odio? Culpa dolorum, aut delectus ratione laudantium nostrum mollitia officia nam obcaecati vero. Temporibus incidunt numquam pariatur dolores minus? Incidunt maxime hic maiores dolor recusandae ipsum earum aut autem dolore nam. Quibusdam, beatae? Odio voluptatum, aspernatur eveniet molestias aperiam dignissimos, debitis enim ab laudantium omnis, reiciendis fugiat in odit quas sequi eaque cum quo alias ipsum tempore culpa nisi!</p>
    </div>

</div>
</div>
<!--  
<div class="container row1 clearfix  ">
    
        <div class="pink float-md-start w-25">
            <h1>
                first div
            </h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit tempora nulla, est deserunt at repellendus rerum voluptatem molestias rem!</p></div>
        <div class="w-25 bg-dark text-white float-md-end">
            <h1>second div</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptate ipsa incidunt et eum id voluptatem a minus sunt ducimus!</p>
    
    </div>
</div> -->



<div class="container">
    <div class="row row1">
        <div class="col-lg-4 col1 pink display-4 text-wrap "><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat itaque provident maxime voluptate nostrum. Consequuntur nisi recusandae nobis hic harum.</p></div>
        <div class="col-lg-4 col1 gray  align-self-baseline user-select-none">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia odio nam, pariatur quisquam sapiente reprehenderit atque, blanditiis explicabo sed qui fuga ipsam commodi perspiciatis. Blanditiis porro eum totam incidunt voluptas?</div>
        <div class="col-lg-4 col1 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam odio consequuntur tenetur sit, nemo perspiciatis modi inventore! Animi, dignissimos at debitis accusantium quia, harum illo assumenda est, ex eveniet temporibus!
            <ul class="list-unstyled d-inline">
            <li>
            <button class="btn btn-outline-primary " roll="button">click me</button>
            <button class="btn btn-secondary active">click me</button>
            <button class="btn btn-success">click me</button>
            <button class="btn btn-danger">click me</button>
            <button class="btn btn-warning">click me</button>
            <button class="btn btn-info">click me</button>
            <button class="btn btn-light">click me</button>
            <button class="btn btn-dark">click me</button>
            <button class="btn btn-">click me</button>
            <a href="#" class="btn btn-info">submit</a>
         
            <button class="btn btn-link">click me</button>
         
                
            </li>
            </ul>
        
            <div class="btn-group-vertical">
            <button class="btn btn-primary">click</button>
            <button class="btn btn-secondary">click</button>
            <button class="btn btn-outline-dark">click</button>
            <button class="btn btn-light">click</button></div>
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown-toggle">click</button>
        
              
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div>
                        
                    
  
                <button class="btn btn-danger">click</button>
                <button class="btn btn-outline-info">click</button>
                <button class="btn btn-warning">click</button></div>
   
        </div>
        <button class="btn-block btn-outline-primary " roll="button">click me</button>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item active aria" aria-current="true">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
        </div>
    </div>
</div>